* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --bg-color: #121214;
  --text-color: #ffffff;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --base-color: 194;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  display: grid;
}
.hide {
  display: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button svg {
  width: clamp(3.2rem 2rem + 12vw, 6.4rem);
}
#timer {
  display: flex;
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
}
#controls {
  background-color: var(--bg-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  gap: 3.2rem;
  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
}
